
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-dark: #0E0E0E;
  --color-surface: #1A1A1A;
  --color-accent: #333333;
  --color-border: #2E2E2E;
  --color-subtext: #A1A1AA;
  --color-light: #FFFFFF;
  --color-hover-tint: #1F1F1F;
}

body {
  font-family: "Asap", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.patter-bg-1 {
  background: radial-gradient(#ffffff 15%, transparent 16%, transparent 49%, #ffffff 50%, transparent 51%),radial-gradient(circle at top left, #ffffff 10%, transparent 10%, transparent 39%, #ffffff 40%, transparent 41%),radial-gradient(circle at top right, #ffffff 10%, transparent 10%, transparent 39%, #ffffff 40%, transparent 41%),radial-gradient(circle at bottom left, #ffffff 10%, transparent 10%, transparent 39%, #ffffff 40%, transparent 41%),radial-gradient(circle at bottom right, #ffffff 10%, transparent 10%, transparent 39%, #ffffff 40%, transparent 41%);
        background-size: 4em 4em;
        background-color: #0E0E0E;
        opacity: 1
}